
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <img class="d-flex justify-content-center bio-img" src="~/img/bio.jpg" />
    </div>
    <div class="col-sm-3"></div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <p>
            Patrick Winters is a graduate of Illinois College in Jacksonville, IL, where he earned a Bachelor of Arts degree in English Literature and Creative Writing. As a student, he was a two-time co-editor in chief of the college's literary and art magazine, Forte, and is a member of the international English honors society, Sigma Tau Delta.
        </p>
        <p>
            His works have previously been published through NOOK Books, Sanitarium Magazine, Trysts of Fate, and The Nightmare Collective: An Anthology of Short Horror Stories. While appreciating an array of genres, his favorite to both read and write in is Horror, because he's just plain weird like that!
        </p>
        <p>
            Winters is an avid listener of all things hard-rock and heavy-metal, a compendium of comic-book knowledge, can (and will) do a perplexing array of voice impersonations, and can bend his thumbs further back than any person should have the right/capability of doing. It is all quite odd . . .
        </p>
    </div>
</div>