
@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>

<p>
    Want to read more of Patrick's writing? Want to learn more about his future projects? Want to ask him deeply-personal, bordering on stalker-level questions? Want to like another Facebook page just for the hell of it?
</p>
<p>
    Check out his author's
    <a href="https://facebook.com/patrickwintersauthor/" target="_blank">Facebook page</a>, or press your luck and make your friendship with him Facebook-official! He's waiting for you, in a purely platonic way!
</p>